<div *ngIf="!isLogged; else isLoggedTrue" class="nav-item mt-2">
  <ul class="nav nav-pills mt-2 flex-fill justify-content-start success">
    <li class="nav-item">
      <a routerLink="/home" class="nav-link">
        <h5>Mi Tienda</h5>
      </a>
    </li>
    <ul class="nav sesion">
      <li class="nav-item ">
        <a class="nav-link" routerLink="login/signin" routerLinkActive="active">Sign In</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" routerLink="login/signup" routerLinkActive="active">Sign Up</a>
      </li>
    </ul>
  </ul>
</div>


<ng-template #isLoggedTrue>
  <div class="container-navbar-der">
    <h3>BIENVENIDO !</h3>
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/login/signin" routerLinkActive="active" (click)="cerrarSesion()"> Cerrar sesion </a>
      </li>
    </ul>
  </div>
</ng-template>