<div class="col-4 mx-auto text-center">
    <form class="form-signin" [formGroup]="signUpForm" (ngSubmit)="doSubmit()">
        <label for="inputNombre" class="fw-bold sr-only">Nombre</label>
        <input class="form-control" id="inputName" type="text" formControlName="nombre">
        <label for="inputSurname" class="fw-bold sr-only">Apellido</label>
        <input class="form-control" id="inputApellido" type="text" formControlName="apellido">
        <label for="inputEmail" class="fw-bold sr-only">Email</label>
        <input class="form-control" id="inputEmail" type="text" formControlName="email">
        <label for="inputPassword" class="fw-bold sr-only">Contraseña</label>
        <input class="form-control" id="inputPassword" type="password" formControlName="password">
        <div style="display: inline-grid;">
        <button class="btn btn-lg btn-primary btn-block mt-3" type="submit">Registrarse</button>
        <button class="btn btn-lg btn-primary btn-block mt-3" type="button" routerLink="/login/signin">Iniciar sesión</button>
      </div> 
      </form>
</div>
